<ion-view ng-controller="UsersPostsCtrl as usersposts" title="Feed" id="page8">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="feed-card22" ng-repeat="post in posts">
      <ion-item class="item-avatar item-icon-right" id="feed-list-item16">
        <img ng-src="{{post.author_avatar}}">
        <h2>{{post.author}}</h2>
        <i class="icon ion-android-more-vertical"></i>
      </ion-item>
      <div class=" item item-image">
        <img ng-src="{{post.post_image}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <button id="feed-button12" class="button button-light  icon ion-ios-heart-outline" ng-click="likes(post)"> {{post.likes}}</button>
      <button id="feed-button13" class="button button-light  icon ion-ios-chatbubble-outline"> {{post.comments.length}}</button>
      <div id="feed-markdown9" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">
          <strong>&nbsp; {{post.author}}</strong> {{post.post_comment}}</p>
      </div>
        <label class="item item-input" id="feed-input6">
          <span class="input-label">Add comment...</span>
          <input type="text" placeholder="">
        </label>
      </form>
      
    </div>
  </ion-content>
</ion-view>