<ion-view title="Profile" id="page4">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon No Icon">spacedoge</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="row userpage">
      <div class="col col-25 col-center">
        <img src="img/vL5xpHq2Txu8HlLgHObI_5fcb0a55.jpg" style="width:100px; height:100px; border-radius: 50%;" alt="">
      </div>
      <div class="col col-75 flw col-center">
        <div class="row">
          <div class="col col-33">
            <h3>83</h3>
            <p>Posts</p>
          </div>
          <div class="col col-33">
            <h3>137</h3>
            <p>Followers</p>
          </div>
          <div class="col col-33">
            <h3>248</h3>
            <p>Following</p>
          </div>
        </div>
        <div class="row">
          <div class="col col-100">
            <button class="button button-stable">Edit profile info</button>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row userview">
      <div class="col col-25">
        <i class="icon ion-email"></i>
      </div>
      <div class="col col-25">
        <i class="icon ion-email"></i>
      </div>
      <div class="col col-25">
        <i class="icon ion-email"></i>
      </div>
      <div class="col col-25">
        <i class="icon ion-email"></i>
      </div>
    </div>
  </ion-content>
</ion-view>
