<ion-view title="Search" id="page6" style="background-color:dafault;">
  <ion-content padding="true" class="has-header">
    <form id="search-form2" class="list">
      <label class="item item-input" id="search-search1">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Search">
      </label>
    </form>

<ion-grid>
  <ion-row>
    <ion-col width-33><a href="#"><img src="http://placehold.it/127x127"></a></ion-col>
  </ion-row>
  <ion-row>
    <ion-col width-33><a href="#"><img src="http://placehold.it/127x127"></a></ion-col>
  </ion-row>
  <ion-row>
    <ion-col width-33><a href="#"><img src="http://placehold.it/127x127"></a></ion-col>
  </ion-row>

    <ion-row>
    <ion-col width-33><a href="#"><img src="http://placehold.it/127x127"></a></ion-col>
  </ion-row>
  <ion-row>
    <ion-col width-33><a href="#"><img src="http://placehold.it/127x127"></a></ion-col>
  </ion-row>
  <ion-row>
    <ion-col width-33><a href="#"><img src="http://placehold.it/127x127"></a></ion-col>
  </ion-row>

    <ion-row>
    <ion-col width-33><a href="#"><img src="http://placehold.it/127x127"></a></ion-col>
  </ion-row>
  <ion-row>
    <ion-col width-33><a href="#"><img src="http://placehold.it/127x127"></a></ion-col>
  </ion-row>
  <ion-row>
    <ion-col width-33><a href="#"><img src="http://placehold.it/127x127"></a></ion-col>
  </ion-row>

    <ion-row>
    <ion-col width-33><a href="#"><img src="http://placehold.it/127x127"></a></ion-col>
  </ion-row>
  <ion-row>
    <ion-col width-33><a href="#"><img src="http://placehold.it/127x127"></a></ion-col>
  </ion-row>
  <ion-row>
    <ion-col width-33><a href="#"><img src="http://placehold.it/127x127"></a></ion-col>
  </ion-row>
</ion-grid>

  </ion-content>
</ion-view>